@model CreateProductModel

@{
    ViewBag.Title = "Chỉnh sửa sản phẩm";
}

<h4>Chỉnh sửa sản phẩm</h4>
<hr>
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class=" mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId" class="form-select" asp-items="@ViewBag.items">
                    <option value="" selected>-- Chọn danh mục --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <a type="button" asp-action="UploadPhoto" asp-route-id="@Model.ProductId" class="mb-3 btn btn-outline-secondary">Upload Img</a>
            <div class=" mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="Content" class="form-label"></label>
                <input asp-for="Content" class="form-control">
            </div>
            <div class=" mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price"  class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Gửi</button>
        </form>
    </div>
</div>